
/* CSS Style Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variable Declaration */

:root {
    --tan-accent: #f3cba5;
    --brown-accent: #975a5e;
    --indigo-accent: #453953;
    --dark-accent: #25161b;
}

/* Base Styling */

body, button {
    font-size: 16px;
    font-family: Garamond, sans-serif;
    color: inherit;
}

body {
    display: flex;

    max-width: 100vw;
    min-height: 100vh;

    color: var(--dark-accent);
    line-height: 1.5;
}

/* Header / Nav Styling */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    max-width: 350px;
    background-color: var(--tan-accent);
    padding: 2rem;
}

header h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

header .logo-container {
    background: url(tab_modules/media/pigs/cute_pig.jpg);
    background-size: cover;
    background-position: center center; 

    width: 350px;
    height: 350px;
    border-radius: 50%;
}

header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

header nav button {
    font-size: 1.25rem;
    font-weight: 600;

    padding-top: 0.5rem;
    background-color: var(--tan-accent);
    border: none;
    border-bottom: 1px solid transparent;
    transition: 0.25s ease-in-out;
}

header nav button.active {
    border-bottom: 1px solid var(--dark-accent);
}

header nav button:hover {
    border-bottom: 1px solid var(--dark-accent);
    transform: translateY(-2px);
}

/* Content Styling */

#content {
    background: url(tab_modules/media/rustic_bar.jpg);
    background-size: cover;
    background-position: center center; 

    color: var(--dark-accent);
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content .home-info, #content .about-info {
    max-width: 800px;
    font-size: 1.5rem;
    color: white;
}

/* Homepage Styling */

#content .home-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(37, 22, 27, 0.6);
    border: 1px solid var(--dark-accent);
    border-radius: 8px;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
}

#content .home-info img {
    width: 350px;
    height: 350px; 
    border-radius: 50%;

    object-fit: cover;
    object-position: 50% 45%;
}

/* Menu Styling */

#content .menu-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 2rem;
    row-gap: 2.5rem;

    padding: 6rem;
    color: white;
    align-self: stretch;
}

#content .menu-info .menu-item {
    padding: 1.5rem;
    background-color: rgba(37, 22, 27, 0.9);
    border: 1px solid var(--dark-accent);
    border-radius: 8px;
}

#content .menu-info .menu-item .img-container {
    float: left;
    padding-right: 1rem;
    border-radius: 8px;
}

#content .menu-info .menu-item .img-container img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

#content .menu-info .menu-item .img-container img#moscow-mule {
    object-position: center 40%;
}

#content .menu-info .menu-item .img-container img#espresso-martini {
    object-position: center 0%;
}

#content .menu-info .menu-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* About / Contact Styling */

#content .about-info {
    display: flex;
    gap: 3rem;

    background-color: rgba(37, 22, 27, 0.6);
    border: 1px solid var(--dark-accent);
    border-radius: 8px;
}

#content .about-info .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#content .about-info .about-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#content .about-info .about-images .about-img {
    padding: 1rem;
    border-radius: 8px;
}

#content .about-info .about-images .about-img img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

/* Media Queries */

/* Large Laptop */ 

@media (max-width: 1400px) {
    #content .menu-info {
        padding: 3rem;
    }
}

/* Large Laptop */

@media (max-width: 1150px) {
    body {
        flex-direction: column;
    }

    header {
        flex-direction: row;
        max-width: none;
        padding: 1rem 1.5rem;
    }

    header h1 {
        font-size: 1.75rem;
        margin-right: auto;
    }

    header .logo-container {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        order: 1;
    }

    header nav ul {
        flex-direction: row;
        gap: 1rem;
    }

    header nav button {
        font-size: 1rem;
    }
}

/* Tablet */

@media (max-width: 800px) {
    header {
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.5rem;
    }

    header h1 {
        margin: 0;
    }

    header .logo-container {
        display: none;
    }

    header nav button {
        font-size: 0.75rem;
        font-weight: normal;
    }

    #content .menu-info {
        padding: 2rem 1rem;
    }
}

/* Mobile */ 

@media (max-width: 600px) {
    #content .menu-info .menu-item {
        padding: 0.75rem;
    }
}